<!DOCTYPE html>
<html>
{% load static %}

<script src= "{%static 'knave/chart_doughnut.js'%}"></script>
<script src= "{%static 'knave/chart_bar.js'%}"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>
.chart{
  width: 300px;
  height: 300px
}
</style>

<head>
  <meta charset="utf-8">
  <meta lang="ko">
  <title>
  {% block title %}
  {% endblock %}
  </title>
</head>
<body>
  <header>
    <h1>Insult Comment</h1>
  </header>
  {% block content %}
  {% endblock %}
</body>
