{% extends 'knave/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
{{ content }}
<video class="bg-video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop"><source src="../../static/knave/assets_index/mp4/bg.mp4" type="video/mp4" /></video>
  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">
      <h1><a href="">Knave</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="mr-auto"><img src="../../static/knave/assets_index/img/logo.png" alt="" class="img-fluid"></a> -->
      <h2>we analyze <span>Knave-comment</span> and provide chart</h2>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link active" href="#header">Home</a></li>
          <li><a class="nav-link" href="#about">About</a></li>
          <li><a class="nav-link" href="#resume">DL Model</a></li>
          <li><a class="nav-link" href="#services">Services</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <!-- ======= About Knave ======= -->
    <div class="about-me container">
      <div class="section-title">
        <h2>About</h2>
        <p>Learn more about Knave</p>
      </div>
      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="../../static/knave/assets_index/img/me.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3><a href = "https://github.com/querkowe/goorm_insult_classifi">goorm_insult_classifi</a></h3>
          <p class="fst-italic">
            <br>
            한국 댓글 생태계에는 악플이 많습니다. 악플을 다는 심리적인 요인은 여러방면으로 작용합니다.<br>
            <br>
            우리는 악플을 다는 심리적인 요인 중 <span>분노</span>에 초점을 맞췄습니다.<br>
            <br>
            토픽에 대해서 악성 댓글의 비율을 분석하고. 대중들의 분노상태를 짐작할 수 있게 도와줍니다.<br>

          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>-:</strong> <span>4</span></li>
              </ul>
            </div>
          </div>
          <p>
          Student on goorm. Anyone can develop.
          </p>
        </div>
      </div>

    </div><!-- End About Me -->

    <!-- ======= Counts ======= -->
    <div class="counts container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-emoji-smile"></i>
            <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="1" class="purecounter"></span>
            <p>Watching</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
          <div class="count-box">
            <i class="bi bi-journal-richtext"></i>
            <span data-purecounter-start="0" data-purecounter-end="8" data-purecounter-duration="1" class="purecounter"></span>
            <p>Stars</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="bi bi-headset"></i>
            <span data-purecounter-start="0" data-purecounter-end="0" data-purecounter-duration="1" class="purecounter"></span>
            <p>Forks</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="bi bi-award"></i>
            <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="1" class="purecounter"></span>
            <p>Developer</p>
          </div>
        </div>

      </div>
    </div><!-- End Counts -->

    <!-- ======= Languages  ======= -->
    <div class="skills container">

      <div class="section-title">
        <h2>Languages</h2>
      </div>

      <div class="row skills-content">

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">Jupyter Notebook<i class="val">33.6%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="33.6" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">CSS <i class="val">26.3%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="26.3" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">JavaScript <i class="val">30.8%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="30.8" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">python <i class="val">6.8%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="6.8" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">HTML <i class="val">2.5%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="2.5" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>
      </div>
    </div><!-- End Languages -->

    <!-- ======= Contribute ======= -->
    <div class="testimonials container">

      <div class="section-title">
        <h2>Contribute</h2>
      </div>

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                ---
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="../../static/knave/assets_index/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              <h3>querkowe</h3>
              <h4>Developer</h4>
            </div>
          </div><!-- End Contribute item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                ---
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="../../static/knave/assets_index/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
              <h3>ukseongchoi</h3>
              <h4>Developer</h4>
            </div>
          </div><!-- End Contribute item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                ---
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="../../static/knave/assets_index/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
              <h3>영환님</h3>
              <h4>Developer</h4>
            </div>
          </div><!-- End Contribute item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                ---
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="../../static/knave/assets_index/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
              <h3>동호님</h3>
              <h4>Developer</h4>
            </div>
          </div><!-- End Contribute item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                ---
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="../../static/knave/assets_index/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
              <h3>조대연</h3>
              <h4>강사님</h4>
            </div>
          </div><!-- End Contribute item -->

        </div>
      </div>
    </div><!-- End Testimonials  -->
  </section><!-- End About Section -->

  <!-- ======= DL Model ======= -->
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>DL Model</h2>
        <p>KcELECTRA</p>
      </div>

      <div class="row">
        <div class="col-lg-auto">
          <h3 class="resume-title">Korean comments ELECTRA</h3>
          <div class="resume-item pb-0">
            <h4>배경</h4>
            <p><em>공개된 한국어 Transformer 계열 모델들은 대부분 한국어 위키, 뉴스 기사, 책 등 잘 정제된 데이터를 기반으로 학습한 모델입니다. 한편, 실제로 NSMC와 같은 User-Generated Noisy text domain 데이터셋은 정제되지 않았고 구어체 특징에 신조어가 많으며, 오탈자 등 공식적인 글쓰기에서 나타나지 않는 표현들이 빈번하게 등장합니다.</em></p>
            <p>
            </p><ul>
              <li>KcELECTRA는 위와 같은 특성의 데이터셋에 적용하기 위해, 온라인 뉴스에서 댓글과 대댓글을 수집해, 토크나이저와 ELECTRA모델을 처음부터 학습한 Pretrained ELECTRA 모델입니다.</li>
              <li>기존 KcBERT 대비 데이터셋 증가 및 vocab 확장을 통해 상당한 수준으로 성능이 향상되었습니다.</li>
              <li>KcELECTRA는 Huggingface의 Transformers 라이브러리를 통해 간편히 불러와 사용할 수 있습니다. (별도의 파일 다운로드가 필요하지 않습니다.)</li>
            </ul>
            <p></p>
          </div>

          <h3 class="resume-title">Train Data &amp; Preprocessing</h3>
          <div class="resume-item">
            <h4>Raw Data</h4>
            <p><em>학습 데이터는 2019.01.01 ~ 2021.03.09 사이에 작성된 댓글 많은 뉴스/혹은 전체 뉴스 기사들의 댓글과 대댓글을 모두 수집한 데이터입니다.</em></p>
            <p>데이터 사이즈는 텍스트만 추출시 약 17.3GB이며, 1억8천만개 이상의 문장으로 이뤄져 있습니다.</p>
          </div>
          <div class="resume-item">
            <h4>Preprocessing</h4>
            <p><em>PLM 학습을 위해서 전처리를 진행한 과정은 다음과 같습니다.</em></p>
            <p>1. 한글 및 영어, 특수문자, 그리고 이모지(🥳)까지 학습 범위에 포함</p>
            <p>2. 댓글 내 중복 문자열 축약</p>
            <p>3. Cased Model = 영문에 대해서 대소문자를 유지</p>
            <p>4. 글자 단위 10글자 이하 제거</p>
            <p>5. 중복 제거</p>
            <p>6. '000' 제거</p>
          </div>
          <div class="resume-item">
            <h5>출처: https://github.com/Beomi/KcELECTRA</h5>
          </div>

        </div>

      </div>

    </div>
  </section><!-- End Resume Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">
      <div class="section-title">
        <h2>Services</h2>
        <p>Our Services</p>
      </div>

      <div class="row">
        <!-- ======= "hideArea setting" ======= -->
        <script type="text/javascript">
        // function getShow(){
        // 	document.getElementById("hideArea").style.display = "";
        // }
        // function getHide(){
        // 	document.getElementById("hideArea").style.display = "none";
        // }
        function changeValue(i, id) {
          document.getElementById("category-select").value = i;
          // document.getElementById(id);
        }
        </script>

        <!-- <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off"> -->
        <div id="feature-select-1" class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" onclick="changeValue(1, 'feature-select-1')">
          <button type="button" class="btn btn-dark icon-box" data-bs-toggle="collapse" data-bs-target="#hideArea" aria-expanded="false" aria-controls="hideArea">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4>토픽 분석</h4>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
          </button>
        </div>

        <div id="feature-select-2" class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" onclick="changeValue(2, 'feature-select-2')">
          <button type="button" class="btn btn-dark icon-box" data-bs-toggle="collapse" data-bs-target="#hideArea" aria-expanded="false" aria-controls="hideArea">
            <div class="icon"><i class="bx bx-slideshow"></i></div>
            <h4>채널 분석</h4>
            <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
          </button>
        </div>

        <div id="feature-select-3" class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" onclick="changeValue(3, 'feature-select-3')">
          <button type="button" class="btn btn-dark icon-box" data-bs-toggle="collapse" data-bs-target="#hideArea" aria-expanded="false" aria-controls="hideArea">
            <div class="icon"><i class="bx bx-arch"></i></div>
            <!-- <h4><a href="#" onclick = "getShow()">영상 분석</a></h4> -->
            <h4>영상 분석</h4>
            <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
          </button>
        </div>

        <div class="collapse" id="hideArea">
          <br>
          <form class="form" action="{% url 'knave:search' %}" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-4">
                <select id="category-select" class="form-select" name="category">
                  <option value="1">토픽</option>
                  <option value="2">채널</option>
                  <option value="3">영상</option>
                </select>
              </div>
              <div class="col-6">
                <input type="text" name="text" class="form-control" placeholder="input">
              </div>
              <div class="col-2">
                <button type="submit" name="submit" class="btn btn-dark btn-outline-success" > enter</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section><!-- End Services Section -->

{% endblock %}
