{% extends 'knave/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
{{ input_text }} 에 대한 분석 결과

<script type="text/javascript">
    location.href="#about";
</script>

<video class="bg-video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop"><source src="../../static/knave/assets_index/mp4/bg.mp4" type="video/mp4" /></video>

<header id="header">
  <div class="container">

    <h1><a href="{% url 'knave:index' %}">Knave</a></h1>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link" href="#about">분석 결과</a></li>
        <li><a class="nav-link" href="#resume">분석 영상</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
  </div>
</header><!-- End Header -->

<section id="about" class="about">
  <!-- ======= About Me ======= -->
  <div class="about-me container">
    <div class="section-title">
      <h2>악플 분석</h2>
      <p>분석 결과</p>
    </div>

    {% for video in content %}
    <div class="row">
      <div class="col-lg-6">
        <img class="fluid card-img-top" src="{{ video.3 }}" alt="{{video.1}}"> <br>
        <div class="card-body">
          <h5 class="card-title"><a href="https://youtu.be/{{video.0}}">{{ video.1 | safe }}</a></h5>
            <p >{{ video.2 }}</p>
            <br>
            {{ video.6 | safe }} <br>
            <br>
            <h3>채널명 : {{ video.5 | safe }}</h3>
            <div class="row">
              <div class="col-lg-6">
                <a href="{% url 'knave:channel' id=video.4 %}"><button class="btn btn-primary" type="button">채널 분석</button></a> <br>
              </div>
              <div class="col-lg-6">
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#replies-df">
                  댓글 보기
                </button>
              </div>
            </div>
          </div>
        </div>

      <div class="col-lg-6">
        <div class="card-img-top">
          <canvas id="chart_1"></canvas>
          <script>chart_doughnut({{ video.12 | safe }}, {{ video.11 | safe }}, 'chart_1')</script>
        </div>

        <div>
          <h5 class="card-title">통계</h5>
          조회수 {{ video.7 | safe }} <br>
          좋아요 {{ video.8 | safe }} <br>
          즐겨찾기 {{ video.9 | safe }} <br>
          댓글 {{ video.10 | safe }} <br>
        </div>
      </div>
      <br>
      <div class = card>
        <div class="collapse" id="replies-df">
          {{ video.13 | safe }}
        </div>
      </div>
    </div><!-- End About Me -->
    {% endfor %}
  </div>
</section>

<section id="resume" class="resume">
  <div class="container">

    <div class="section-title">
      <h2>악플 분석</h2>
      <p>분석 영상</p>
    </div>

    <div class="row">
    </div>
</section>
{% endblock %}
